[project]
	description = This Demo Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ranjeet1515
[access "refs/for/refs/*"]
	read = group user/ranjeet1515
	push = group user/ranjeet1515
	label-Code-Review = -2..+2 group user/ranjeet1515
	label-Verified = -1..+1 group user/ranjeet1515
	rebase = group user/ranjeet1515
	removeReviewer = group user/ranjeet1515
	submit = group user/ranjeet1515
[access "refs/heads/*"]
	read = group user/ranjeet1515
	create = group user/ranjeet1515
	push = +force group user/ranjeet1515
	pushMerge = group user/ranjeet1515
[access "refs/tags/*"]
	push = group user/ranjeet1515
	push = +force group user/ranjeet1515
